<h1 mat-dialog-title>{{ title }}</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="15px">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error>Please, enter Name.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Description" formControlName="description" required>
      <mat-error>Please, enter Description.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Image Url</mat-label>
      <input matInput placeholder="Image Url" formControlName="imageUrl">
      <mat-error>Please, enter valid Image Url.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput placeholder="Price" formControlName="price" required type="number">
      <mat-error>Please, enter Price.</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" [disabled]="loading">
      <mat-icon *ngIf="loading">
        <mat-spinner diameter="20"></mat-spinner>
      </mat-icon>
      <span>Submit</span>
    </button>
  </div>
</form>
