<nav
  *ngIf="{ sidebarOpened: sidebarService.sidebarOpened$ | async } as data"
  class="sidebar sidebar-offcanvas"
  [class.active]="data.sidebarOpened"
  id="sidebar"
>
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="javascript:;" class="nav-link">
        <div class="nav-profile-image">
          <img [src]="user.picture.thumbnail" alt="profile">
          <span class="login-status online"></span> <!--change to offline or busy as needed-->
        </div>
        <div class="nav-profile-text">
          <span class="font-weight-bold mb-2">{{ user.name.first }} {{ user.name.last }}</span>
          <span class="text-secondary text-small">Project Manager</span>
        </div>
        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
      </a>
    </li>
    <li appSidebarNavToggle class="nav-item" [ngClass]="{ 'active': dashboard.isActive }">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive #dashboard="routerLinkActive">
        <span class="menu-title">Dashboard</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li appSidebarNavToggle class="nav-item" [ngClass]="{ 'active': users.isActive }">
      <a class="nav-link" routerLink="/users" routerLinkActive #users="routerLinkActive">
        <span class="menu-title">Users</span>
        <i class="mdi mdi-account-multiple menu-icon"></i>
      </a>
    </li>
    <li *ngIf="remoteRoutes.length" appSidebarNavToggle class="nav-item" [ngClass]="{'active': frameworksActive }">
      <a class="nav-link" (click)="remotesCollapsed = !remotesCollapsed" [attr.aria-expanded]="remotesCollapsed" aria-controls="ui-basic">
        <span class="menu-title">Frameworks</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
      </a>
      <div class="collapse" id="ui-basic" [ngbCollapse]="!remotesCollapsed">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" *ngFor="let remote of remoteRoutes">
            <a class="nav-link" [routerLink]="'frameworks/' + remote.path" routerLinkActive="active">{{ remote.title }}</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
